import("lme4")

export(
"polytomous",
"polytomous.one.vs.rest",
"polytomous.poisson.reformulation",
"instance2narrowcount",
"wide2narrowcount",
"multinomial2logical",
"model.statistics",
"crosstable.statistics",
"associations",
"posthoc.cells",
"ranef.polytomous",
"anova.polytomous",
"summary.polytomous",
"predict.polytomous",
"plot.polytomous",
"plot.polytomous.parameters",
"plot.polytomous.probabilities"
)

S3method("anova","polytomous")
S3method("anova","polytomouslist")
S3method("print","polytomous")
S3method("summary","polytomous")
S3method("print","summary.polytomous")
S3method("predict","polytomous")
S3method("plot","polytomous")
S3method("plot","polytomous.parameters")
S3method("plot","polytomous.probabilities")

exportClasses("polytomous","mer")
